{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Learning Log</title>

        {% bootstrap_css %}
        {% bootstrap_javascript %}

    </head>

    <body>
        <!-- Статическая навигационная панель -->
            <!-- элемент <nav> обозначает раздел навигационных ссылок на странице. Весь контент внутри этого
            элемента оформляется по правилам Bootstrap, определяемым селекторами navbar,
            navbar-default и navbar-static-top -->
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <!-- шаблон определяет кнопку, которая будет отображаться, если ширины
                окна браузера не хватает для горизонтального отображения всей навигационной
                панели. Когда пользователь нажимает кнопку, навигационные элементы выводятся
                в раскрывающемся списке -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                </button>
                <!-- имя проекта выводится у левого края навигационной панели. Так как
                это имя будет присутствовать на каждой странице проекта, оно оформляется в виде
                ссылки на домашнюю страницу -->
                <a class ="navbar-brand" href="{% url 'learning_logs:index' %}">Leagning Log</a>
            </div>
            <!-- определяется набор ссылок для навигации по сайту. Панель навигации
            фактически представляет собой список, начинающийся с <ul>,
            каждая ссылка является элементом списка (<li>) -->
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'learning_logs:topics' %}">Topics</a></li>
                </ul>
                <!-- создается второй список навигационных ссылок, на этот раз с использо-
                ванием селектора navbar-right. Селектор navbar-right оформляет набор ссылок
                так, что он выводится в правой части навигационной панели, 
                где обычно отображаются ссылки для входа/регистрации пользователя -->
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a>Hello, {{ user.username }}.</a></li>
                        <li><a href="{% url 'users:logout' %}">log out</a></li>
                    {% else %}
                        <li><a href="{% url 'users:register' %}">register</a></li>
                        <li><a href="{% url 'users:login' %}">log in</a></li>
                    {% endif %}
                </ul>
            </div><!--/.nav-collapse -->

            </div>
        </nav>


        <div class="container">
            <div class="page-header">
                 {% block header %}{% endblock header %}
            </div>
            <div>
                 {% block content %}{% endblock content %}
            </div>
        </div> <!-- /container -->
        </body>
        </html>


















